/**
 * 全局样式文件
 * 
 */


// -------------------空间-------------------

$main-padding: 32px; // 主要页面两侧的空间



// -------------------颜色-------------------

$color-theme: #0033cc; // 品牌主题色
$color-mask: rgba(0,0,0,.4); // 蒙层色 
$color-bgc: #eeeff0; // 背景色 
$color-line: #c7c9d9; // 分割线颜色 

